<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <header>       
        <h1>Welcome <%= user.username %>!</h1>
        <div class="div">
            <div class="status">
                <p><b><%= user.membership ? "Member" : "Not Member" %></b></p>
                <p><b><%= user.admin ? "Admin" : "Not Admin" %></b></p>
            </div>
            <div class="settings">
                <button><a href="/profile/<%= user.username %>/edit">Settings</a></button> 
                <button><a href="/">Home</a></button>
            </div> 
        </div>
    </header>
    <main>
        
        <div>
            <div>
                <p>Posts</p>
                <% if (posts.length === 0) { %>
                    <p>No posts found</p>
                  <% } else { %>
                    <ul>
                        <% posts.forEach((post) => { %>
                            <ul>
                              <li><strong><%= post.title %></strong></li>
                              <li><%= post.content %></li> 
                              <li class="button">
                                <img src="/images/calendar-range.svg" alt="Date">
                                <%= new Date(post.date).toLocaleString('en-US', {
                                  year: 'numeric',
                                  month: 'long',
                                  day: 'numeric',
                                  hour: '2-digit',
                                  minute: '2-digit',
                                }) %></li>  
                                <div class="form">
                                    <button class="button buttons">
                                        <img src="/images/pen.svg" alt="read">
                                        <a href="/content/<%= post.id %>">Read</a>
                                    </button>
                                    <form action="/content/<%= post.id %>/delete" method="POST" style="display:inline;">
                                        <button type="submit" class="button buttons">
                                            <img src="/images/delete-forever.svg" alt="delete">
                                            <li>Delete</li>
                                        </button>
                                    </form>
                                    <form action="/content/<%= post.id %>/update" method="GET" style="display:inline;">
                                        <button type="submit" class="button buttons">
                                            <img src="/images/update.svg" alt="update">
                                            <li>Edit</li>
                                        </button>
                                    </form>
                                </div>                
                            </ul>
                        <% }) %>                      
                    </ul>
                <% } %>
            </div> 
        </div>      
    </main>
</body>
</html>